/* styles/BackgroundContainer.module.css */
.backgroundContainer {
    position: relative;
    width: 100%;
    background-color: black;
    z-index: 0;
    height: 100%;
    padding-top: 10vh;
    padding-bottom: 30vh;
}

.title {
    font-size: 64px;
    line-height: 1.5;
    color: white;
    text-align: center;
    font-weight: bold;
}

.progress {
    position: absolute;
    width: 3px;
    height: 100%;
    max-height: 2400px;
    background: linear-gradient(180deg, #000000 0%, #414141 10%, #414141 90%, #000000 100%);
    z-index: 0;
    transform: translateX(-50%);
    left: 50%;
}

.timeline {
    padding: 20px;
}

.gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #00d1ff 20%, #00d1ff 70%, #b133ff 90%, rgba(0, 0, 0, 0) 100%);
    width: 3px;
    position: fixed;
    top: 10vh;
    z-index: 2;
    transform: translateX(-50%);
    left: 50%;
}

@media screen and (max-width: 1024px) {
    .progress {
        max-height: 2200px;
    }
}

@media screen and (max-width: 768px) {
    .progress {
        left: 10%;
        transform: translateX(-10%);
    }

    .gradient {
        left: 10%;
        transform: translateX(-10%);
    }
}